Aureon_AI_Job_Search_Proposal_Assistant_PUBLIC_SAFE.json
{
  "name": "Aureon AI Job Search & Proposal Assistant",
  "nodes": [
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=(\"AI Automation Engineer\" OR \"AI Engineer\" OR \"AI Agent Developer\" OR \"n8n Developer\" OR \"LLM Engineer\")\n(remote OR \"work from home\")\n(site:jobs.ashbyhq.com OR site:boards.greenhouse.io OR site:jobs.lever.co OR site:wellfound.com/role OR site:jobs.ashbyhq.com)\n-intitle:\"Jobs in\"\n-intitle:\"Search\"\n-inurl:\"/jobs\""
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "api_key",
              "value": "REPLACE_WITH_SERPAPI_KEY"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "tbs",
              "value": "qdr : d"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -976,
        -112
      ],
      "id": "cbf299e8-91a3-4e79-81da-28c2f81d6ef3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "organic_results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -832,
        -96
      ],
      "id": "b5890e8f-9838-4502-a218-6d22a676cd35",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41bcf8cb-75fc-47f9-a284-befc211b1666",
              "name": "Job Title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "72dc4dcf-87b6-4ccf-9456-dac96e1b5d19",
              "name": "Company",
              "value": "=unknown",
              "type": "string"
            },
            {
              "id": "93c6f33f-3828-4f6c-b121-9729f557e607",
              "name": "Job  Link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "d91036b9-9d15-425e-98c8-082477afe817",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        -64
      ],
      "id": "0f76d3af-6cf2-4d7f-952d-232bbfc52bfe",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job  Title ": "={{ $json.output['Job Title'] }}",
            "Company": "={{ $json.output.Company }}",
            "Job link": "={{ $json.output['Job Link'] }}",
            "Recommendation": "={{ $json.output.Recommendation }}",
            "Reason": "={{ $json.output.Reason }}",
            "Match Score": "={{ $json.output['Match Score'] }}",
            "Proposal Subject": "={{ $json.output['Proposal Subject'] }}",
            "Proposa": "={{ $json.output.Proposal }}",
            "Status": "Ready Apply",
            "Follow Up Date": "={{ $now.plus({days:7}).toISODate() }}",
            "Note": "Generated by Aureon AI",
            "Application Methode": "=Auto Detect"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job  Title ",
              "displayName": "Job  Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job link",
              "displayName": "Job link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Proposal Subject",
              "displayName": "Proposal Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Proposa",
              "displayName": "Proposa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applied Date",
              "displayName": "Applied Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Application Methode",
              "displayName": "Application Methode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confirmation",
              "displayName": "Confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        -208
      ],
      "id": "f0706f92-3ea2-4131-b1de-7a415c8692fc",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Aureon AI's Job Search and Proposal Assistant.\n\nYour task is to analyze the provided job information and determine whether it is a good opportunity for an AI Automation Engineer.\n\nCandidate Details:\n\nName: Owoeye Iyanu\nBrand: Aureon AI\nProfessional Title: AI Automation Engineer\nEmail: hello.aureonai@gmail.com\n\nSTRICT FILTERING RULES:\n\n1. Recommend only genuine individual job postings, not job search pages, category pages, articles, or talent pools.\n2. Prefer jobs posted within the last 24 hours.\n3. If the posting date is unavailable, clearly state \"Posting date not confirmed.\"\n4. Reject jobs that are fully on-site outside Nigeria unless visa sponsorship or relocation support is clearly provided.\n5. Reject jobs requiring more than 5 years of mandatory experience.\n6. Prioritize remote or worldwide roles.\n7. Prioritize roles involving n8n, AI agents, RAG, LLMs, APIs, workflow automation, Gemini, OpenAI, Python, LangChain, vector databases, or MCP.\n8. Generate a cover letter only when the match score is 80 or higher.\n9. Never invent experience, qualifications, achievements, or tools the candidate has not actually used.\n10. If the role is unsuitable, set recommendation to \"Do Not Apply\" and explain the exact reason.\n\nCOMPANY EXTRACTION RULES:\n\n1. Extract the actual employer/company name from the job title, snippet, and job URL.\n2. Do not use generic labels such as \"Jobs AI\", \"Remote Jobs\", \"LinkedIn\", \"Wellfound\", \"Greenhouse\", \"Lever\", or \"Ashby\" as the company name.\n3. If the title contains \"@ Company\", use the text after \"@\" as the company.\n4. If the job URL contains a company slug, use that slug to infer the company name.\n5. If the company still cannot be confidently identified, return \"Unknown\" and do not invent a company.\n\n\nThe candidate has practical experience in:\n\n- n8n workflow automation\n- AI agents\n- Google Gemini\n- OpenAI\n- API integrations\n- Gmail automation\n- Google Sheets automation\n- RAG systems\n- Vector databases\n- Business process automation\n- Customer support automation\n- Lead qualification systems\n- Lead management and CRM automation\n- AI job search and proposal automation\n\nAnalyze the job information and return the following:\n\n1. Job Title\n2. Company\n3. Job Link\n4. Match Score between 1 and 100\n5. Recommendation: Apply, Maybe, or Skip\n6. A brief and honest reason for the recommendation\n7. Proposal Subject\n8. Proposal\n\nScoring Guidelines:\n\n- 80 to 100: Apply\n- 60 to 79: Maybe\n- 1 to 59: Skip\n\nOnly recommend Apply when the opportunity is a specific and relevant job that strongly matches the candidate's AI automation skills.\n\nDo not give a high score to:\n\n- Generic job-search pages\n- Job-category pages\n- Search-result pages\n- Training pages\n- Articles\n- Pages without a specific job description\n- Jobs unrelated to AI automation, n8n, AI agents, APIs, RAG, or workflow automation\n\nIf the Recommendation is \"Apply\":\n\nGenerate a professional and personalized Proposal Subject.\n\nGenerate a concise, credible, and personalized cover letter.\n\nThe proposal should:\n\n- Address the hiring team professionally\n- Mention the job title and company\n- Explain how the candidate's practical AI automation experience matches the role\n- Highlight only relevant skills\n- Mention appropriate Aureon AI portfolio projects when useful\n- Avoid exaggerated claims\n- Avoid saying the candidate has extensive experience\n- Avoid claiming years of experience\n- Avoid claiming employment experience that was not provided\n- End with the candidate's real name and contact details\n\nEnd every proposal exactly like this:\n\nBest regards,\n\nOwoeye Iyanu\nAI Automation Engineer\nAureon AI\n\nhello.aureonai@gmail.com\n\nNever use placeholders such as:\n\n[Your Name]\n[Your Email]\n[Your Portfolio Link]\n[Company Name]\n[Hiring Manager Name]\n\nDo not include a portfolio link because one has not been provided.\n\nIf the Recommendation is \"Maybe\" or \"Skip\", return:\n\nProposal Subject: No Proposal Generated\n\nProposal: Job not recommended for application.\n\nReturn ONLY structured JSON matching the exact format required by the Structured Output Parser.\n\n\nJob Information:\n\nJob Title: {{ $json[\"Job Title\"] }}\n\nSource Company Field: {{ $json[\"Company\"] }}\n\nJob Link: {{ $json[\"Job Link\"] }}\n\nSnippet: {{ $json[\"snippet\"] }}\n\nImportant:\nThe Source Company Field may be \"unknown\".\nYou must independently extract the real company name from the title, snippet, and URL.\nReturn only one valid JSON object that exactly matches the connected Structured Output Parser schema.\n\nDo not use markdown.\nDo not use code fences.\nDo not write ```json.\nDo not add explanations before or after the JSON.\nDo not wrap the result inside an \"output\" field unless the schema requires it.\nAll required fields must always be included.\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are Aureon AI's Job Search and Proposal Assistant.\n\nYour task is to analyze the provided job information and determine whether it is a good opportunity for an AI Automation Engineer.\n\nThe candidate specializes in:\n- n8n workflow automation\n- AI Agents\n- Google Gemini\n- OpenAI\n- API Integrations\n- Gmail Automation\n- Google Sheets Automation\n- RAG Systems\n- Vector Databases\n- Business Process Automation\n\nAnalyze the job and return:\n\n1. Job Title\n2. Company\n3. Job Link\n4. Match Score (1-100)\n5. Recommendation (Apply, Maybe, or Skip)\n6. Reason for your recommendation\n\nIf the recommendation is \"Apply\", also generate:\n\n- Proposal Subject\n- A professional, personalized cover letter explaining why the candidate is a strong fit.\n\nIf the recommendation is \"Maybe\" or \"Skip\", return:\n\nProposal Subject: \"No Proposal Generated\"\n\nProposal:\n\"Job not recommended for application.\"\n\nReturn your response ONLY in the exact JSON format required by the Structured Output Parser.\n\nJob Information:\n\nTitle: {{ $json[\"Job Title\"] }}\nCompany: {{ $json['Job  Link'] }}{{ $json[\"Company\"] }}\nLink: {{ $json.snippet }}\nSnippet: "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -368,
        -96
      ],
      "id": "a065f4fc-827c-4781-84e3-75a6fc1d7733",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -464,
        96
      ],
      "id": "417ed545-43c1-4499-bbf2-0324fc9e9ab0",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sendTo": "hello.aureonai@gmail.com",
        "subject": "Aureon AI Daily Job Report",
        "message": "=<h2>Aureon AI Daily Job Report</h2>\n\n<p><strong>Job Title:</strong><br>\n{{ $('AI Agent').item.json.output[\"Job Title\"] }}\n</p>\n<p><strong>Company:</strong><br>\n{{ $('AI Agent').item.json.output[\"Company\"] }}\n</p>\n\n<p><strong>Match Score:</strong><br>\n{{ $('AI Agent').item.json.output[\"Match Score\"] }}\n</p>\n\n<p><strong>Recommendation:</strong><br>\n{{ $('AI Agent').item.json.output[\"Recommendation\"] }}\n</p>\n\n<p><strong>Reason:</strong><br>\n{{ $('AI Agent').item.json.output[\"Reason\"] }}\n</p>\n\n<hr>\n\n<h3>Generated Application</h3>\n\n<p><strong>Proposal Subject:</strong><br>\n{{ $('AI Agent').item.json.output[\"Proposal Subject\"] }}\n</p>\n\n<p><strong>Cover Letter:</strong><br>\n{{ $('AI Agent').item.json.output[\"Proposal\"] }}\n</p>\n\n<hr>\n\n<p><strong>Job Link:</strong><br>\n<a href=\"{{ $('AI Agent').item.json.output[\"Job Link\"] }}\">Open Job Opportunity</a>\n</p>\n\n<hr>\n\n<p><em>This report was generated automatically by the Aureon AI Job Search & Proposal Assistant.</em></p>\n\n<hr>\n\n<p>This email was sent automatically with n8n.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -208
      ],
      "id": "15b6353c-e577-4366-85c8-3908de0b620d",
      "name": "Send a message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "92ef9bd2-7935-4907-b856-ec9ab6e29a48",
              "leftValue": "={{ $('AI Agent').item.json.output[\"Match Score\"] }}",
              "rightValue": "=80",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        -96
      ],
      "id": "c0122d3c-9fac-4790-88a5-e940feff6ed6",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Skipped"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Job  Title ",
              "displayName": "Job  Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job link",
              "displayName": "Job link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proposal Subject",
              "displayName": "Proposal Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proposa",
              "displayName": "Proposa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        64
      ],
      "id": "3d7fe224-8bff-41e4-bb95-a7c7e5ca79b3",
      "name": "Append row in sheet1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1120,
        -112
      ],
      "id": "f60d0dec-dda0-499e-987d-d0aba2cbef70",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -672,
        -80
      ],
      "id": "f6f15b73-3d2b-4367-980b-5450a1c281a8",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Job Title\": \"AI Automation Engineer\",\n  \"Company\": \"Novig\",\n  \"Job Link\": \"https://example.com/job\",\n  \"Match Score\": 95,\n  \"Recommendation\": \"Apply\",\n  \"Reason\": \"The role strongly matches the candidate's AI automation skills.\",\n  \"Proposal Subject\": \"Application for AI Automation Engineer - Owoeye Iyanu\",\n  \"Proposal\": \"Dear Hiring Team, I am interested in this role.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -272,
        144
      ],
      "id": "e43e63ee-f8bc-42d3-87ac-3709fad61470",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -352,
        144
      ],
      "id": "d4a75f9a-d27d-4f83-ada0-a3779662263b",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Job link'] }}",
                    "rightValue": "ashbyhq.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e221af85-06a5-40d9-83a9-9c9a8e7eb112"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ashby"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "18fc05ba-9ade-4fcd-a6ae-56e16e2416c6",
                    "leftValue": "={{ $json['Job link'] }}",
                    "rightValue": "greenhouse.io",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Greenhouse"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c19bf10a-ddde-4921-9c29-bc14a200155d",
                    "leftValue": "={{ $json['Job link'] }}",
                    "rightValue": "lever.co",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lever"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b9118e8-49b7-41ed-b625-379c4d2c7540",
                    "leftValue": "={{ $json['Job link'] }}",
                    "rightValue": "wellfound.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Wellfound"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "386fac39-41af-425a-a4c1-abb4bfabf3a1",
                    "leftValue": "={{ $json['Job link'] }}",
                    "rightValue": "linkedin.com",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Linkedin"
            }
          ]
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        256,
        -112
      ],
      "id": "82c8338b-c6ae-497e-99a9-1dd939eb7547",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json['Job link'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        -176
      ],
      "id": "51c48dae-3fc9-403c-97e6-b04cd223e6f1",
      "name": "Read Ashby Job Page"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI job application analyst.\n\nThe HTML of a job application page is provided below.\n\nYour task is to determine:\n\n1. Is there an Apply button?\n2. Is Easy Apply available?\n3. What fields are required?\n4. Is a resume required?\n5. Is a cover letter required?\n6. What custom application questions exist?\n7. Return the information as structured JSON.\n\nJob page HTML:\n\n{{ $json.data }}\n\nAlso analyze the job eligibility and return:\n\n- eligible_from_nigeria: true or false\n- remote_type: Worldwide, Europe, United States, Hybrid, Onsite, or Unknown\n- visa_sponsorship: true, false, or unknown\n- work_authorization_required: true, false, or unknown\n- location: the stated job location\n- salary: the stated salary or \"Not stated\"\n- eligibility_reason: a short explanation of whether someone living in Nigeria can apply\n\nUse only information found on the job page.\nDo not assume worldwide eligibility just because the role says remote.\nIf the location or authorization rules are unclear, use unknown.\n\nAlso provide a final eligibility assessment:\n\n- eligibility_status: \"Eligible\", \"Not Eligible\", or \"Unclear\"\n- eligibility_confidence: \"High\", \"Medium\", or \"Low\"\n\nRules:\n\n1. Use \"Eligible\" only when the page clearly allows applicants from Nigeria or clearly states worldwide remote eligibility.\n2. Use \"Not Eligible\" when the role is restricted to another country or region, or requires work authorization the candidate does not have.\n3. Use \"Unclear\" when the page does not provide enough information.\n4. Do not assume that \"Remote\" means worldwide.\n5. If visa sponsorship or work authorization is not mentioned, return \"unknown\" for those fields.\n6. Keep eligibility_reason short and evidence-based.\n\nReturn only one valid JSON object that exactly matches the connected Structured Output Parser schema.\n\nDo not use markdown.\nDo not use code fences.\nDo not write ```json.\nDo not add explanations before or after the JSON.\nDo not wrap the result inside an \"output\" field unless the schema requires it.\nAll required fields must always be included.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        -176
      ],
      "id": "8d3fbbf0-3b5e-4e0c-ba15-e43cb65b99ae",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"apply_button\": true,\n  \"easy_apply\": false,\n  \"resume_required\": true,\n  \"cover_letter_required\": false,\n  \"required_fields\": [\n    \"Full Name\",\n    \"Email\",\n    \"Phone\"\n  ],\n  \"custom_questions\": [\n    \"Why do you want to work here?\"\n  ],\n  \"application_url\": \"https://example.com/apply\",\n  \"eligible_from_nigeria\": true,\n  \"eligibility_status\": \"Eligible\",\n  \"eligibility_confidence\": \"High\",\n  \"remote_type\": \"Worldwide\",\n  \"visa_sponsorship\": \"unknown\",\n  \"work_authorization_required\": \"unknown\",\n  \"location\": \"Remote - Worldwide\",\n  \"salary\": \"Not stated\",\n  \"eligibility_reason\": \"The role is explicitly open to worldwide remote applicants.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        992,
        112
      ],
      "id": "24de7aec-f300-40e0-83c1-773e538a6fc1",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        560,
        48
      ],
      "id": "40d79116-b630-45b7-b4a0-9cab50a5193b",
      "name": "Google Gemini Chat Model2"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search my personal knowledge base to answer questions about my skills, projects, experience, education, CV, portfolio, and career background. Use this tool whenever you need accurate information about me.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        704,
        64
      ],
      "id": "17f04899-716e-4145-88bc-b5cee4b71748",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        224
      ],
      "id": "9747cc10-b995-4694-81f6-2d732827172d",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8869fee0-1f87-4f70-9eff-9776caac8f3b",
              "leftValue": "={{ $json['Eligible From Nigeria'] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        -80
      ],
      "id": "b950503e-42fd-454c-8c56-a38ebd18d49a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Job  Title ": "={{ $json.output['Job Title'] }}",
            "Company": "={{ $json.output.Company }}",
            "Job link": "={{ $json.output['Job Link'] }}",
            "Recommendation": "={{ $json.output.Recommendation }}",
            "Reason": "={{ $json.output.Reason }}",
            "Match Score": "={{ $json.output['Match Score'] }}",
            "Proposal Subject": "={{ $json.output['Proposal Subject'] }}",
            "Proposa": "={{ $json.output.Proposal }}",
            "Status": "Ready Apply",
            "Follow Up Date": "={{ $now.plus({days:7}).toISODate() }}",
            "Note": "Generated by Aureon AI",
            "Application Methode": "=Auto Detect",
            "Eligible From Nigeria": "={{ $json.output.eligible_from_nigeria }}",
            "Eligibility Status": "={{ $json.output.eligibility_status }}",
            "Eligibility Confidence": "={{ $json.output.eligibility_confidence }}",
            "Remote Type": "={{ $json.output.remote_type }}",
            "Visa Sponsorship": "={{ $json.output.visa_sponsorship }}",
            "Work Authorization Requirement": "={{ $json.output.work_authorization_required }}",
            "Job Location": "={{ $json.output.location }}",
            "Salary": "={{ $json.output.salary }}",
            "Eligible Reason": "={{ $json.output.eligibility_reason }}"
          },
          "matchingColumns": [
            "Job link"
          ],
          "schema": [
            {
              "id": "Job  Title ",
              "displayName": "Job  Title ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job link",
              "displayName": "Job link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommendation",
              "displayName": "Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Proposal Subject",
              "displayName": "Proposal Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Proposa",
              "displayName": "Proposa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Applied Date",
              "displayName": "Applied Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Application Methode",
              "displayName": "Application Methode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confirmation",
              "displayName": "Confirmation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Follow Up Date",
              "displayName": "Follow Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Eligible From Nigeria",
              "displayName": "Eligible From Nigeria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Eligibility Status",
              "displayName": "Eligibility Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Eligibility Confidence",
              "displayName": "Eligibility Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Remote Type",
              "displayName": "Remote Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Visa Sponsorship",
              "displayName": "Visa Sponsorship",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Work Authorization Requirement",
              "displayName": "Work Authorization Requirement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Location",
              "displayName": "Job Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Eligible Reason",
              "displayName": "Eligible Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -208
      ],
      "id": "1b800bad-ccc1-4a30-9f62-c7919e3ddbc2",
      "name": "Update row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Read Ashby Job Page",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        []
      ]
    },
    "Read Ashby Job Page": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "nodeGroups": [],
  "tags": []
}
